/** {
    margin: 0px;
}
html{
    scroll-behavior: smooth;
}

nav {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: black;


}

nav>h3,
nav>h4 {
    background-color: black;
    color: white;
    margin-right: 23px;
}

